// light mode variables
$gray_default: #ffffff;
$gray_50: #f9fafb;
$gray_100: #f3f4f6;
$gray_200: #e5e7eb;
$gray_300: #d1d5db;
$gray_400: #9ca3af;
$gray_500: #6b7280;
$gray_600: #4b5563;
$gray_700: #374151;
$gray_800: #1f2937;
$gray_900: #111827;
$gray_950: #030712;

// dark mode variables
$dark_gray_default: #030712;
$dark_gray_50: #111827;
$dark_gray_100: #1f2937;
$dark_gray_200: #374151;
$dark_gray_300: #4b5563;
$dark_gray_400: #6b7280;
$dark_gray_500: #9ca3af;
$dark_gray_600: #d1d5db;
$dark_gray_700: #e5e7eb;
$dark_gray_800: #f3f4f6;
$dark_gray_900: #f9fafb;
$dark_gray_950: #ffffff;


// layout variables
$gap_flex_64: 4rem;
$height_navbar: 5rem;